_CoqProject
Makefile.coq
Makefile.coq.conf
.Makefile.coq.d

*.vo
*.vio
*.v.d
*.glob
.*.aux
*.vok
*.vos
*.v~

.lia.cache
.nia.cache
.coqdeps.d

pico_meta/__pycache__/
*.py[cod]

_opam
nohup.out
.vscode/settings.json
